<nav
  class="navbar shadow  navbar-expand-lg navbar-dark"
  style="background-color: #ec5502"
>
  <a class="navbar-brand" routerLink="/">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/nomini-cation.appspot.com/o/sokunomi-appicon2.png?alt=media&token=ecccaa53-e176-4ddc-a602-02a795fdb8ba"
      width="50"
      height="50"
      alt=""
    />
  </a>
  <div class="btn" *ngIf="show; else elseLogin">
    <a routerLink="/register" class="btn btn-outline-light">新規登録</a>
    <a routerLink="/auth" class="btn btn-outline-light">ログイン</a>
  </div>
  <ng-template #elseLogin>
    <a routerLink="/auth" class="btn btn-outline-light">ログアウト</a>
  </ng-template>
</nav>

<router-outlet></router-outlet>
