<nav class="navbar shadow navbar-expand-xl navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img
      src="/docs/sokunomi.png"
      width="50"
      height="50"
      class="d-inline-block align-top"
      alt=""
    />
    ソクノミ
  </a>
  <div class="btn" *ngIf="show; else elseLogin">
    <a routerLink="/auth" class="btn btn-outline-light">ログイン</a>
    <a routerLink="/register" class="btn btn-outline-light">新規登録</a>
  </div>
  <ng-template #elseLogin>
    <button routerLink="/auth" class="btn btn-outline-light">ログアウト</button>
  </ng-template>
</nav>

<div class="container bg-white shadow">
  <div class="box">
    <router-outlet></router-outlet>
  </div>
</div>
