<div class="container">
  <div class="card shadow">
    <div class="card-body text-center">
      <form class="chart-form" (submit)="reciver(content1, content2, content3)">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="content1"
            name="comment1"
            placeholder="メールアドレス"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            [(ngModel)]="content2"
            name="comment2"
            placeholder="パスワード"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="content3"
            name="comment3"
            placeholder="表示名"
          />
        </div>

        <span class="input-group-btn">
          <button class="btn btn-outline-success" type="submit">登録</button>
        </span>
      </form>
    </div>
  </div>
</div>

<div class="alert alert-danger" role="alert">
  現状ではセキュリティを軽視した設計になっています。他で使用しているパスワードは入力しないでください。
</div>
